@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sacramento&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#3e353d;
    font-size: 16px;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #540375;
   line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #691d87;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
     font-family: 'Montserrat', sans-serif;
    color: #64207f;
}

p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

a{
    text-decoration: none;
    color: #b160d2;

}

a:hover{
    color:#EAF6F6;
}

.profile img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.top-container{
    background-color: #f9e4f5;
    position: relative;
    padding-top:100px;
}


.middle-container{
 margin: 100px 0;
}

.bottom-container{
  background-color: #540375;
  padding: 50px 0 20px;
  font-family: 'Montserrate', sans-serif;
  margin: 10px 20px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;

}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.skill-row{
    width: 100%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-image {
    width: 45%;
    float: left;
    margin-right: 30px;
}
.skill-image1 {
  width: 45%;
  float: right;
   margin-right: 30px;
}


.intro{
    width: 60%;
    margin: 0 auto;
}

.contact-me{
    width:80%;
    margin: 40px 20px;
}

.btn{
    padding: 10px;
    font-family: 'Montserrat', 'sans-serif';
    color: #ffffff;
    font-size: 10px;
    border-radius: 8px;  
    background: linear-gradient(#d411c0, #6a0375);

}

.btn:hover{
    background: linear-gradient(#540375, #2bc4ad);
}

.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
}

